body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #f1f3f6, #dfe4ea);
  color: #2d3436;
}

section {
  padding: 30px 20px;
}

h2 {
  color: #2c3e50;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

footer {
  background:
  linear-gradient(rgba(15,15,15,0.7), rgba(15,15,15,0.7));
  
  background-size: cover;
  background-position: center;

  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Animación que mueve las imágenes */
@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ESTILO DE BOTÓN VOLVER */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #f1f3f6, #dfe4ea);
  color: #2d3436;
}

footer {
  background:
  linear-gradient(rgba(15,15,15,0.7), rgba(15,15,15,0.7));
  
  background-size: cover;
  background-position: center;

  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

footer {
  background:
  linear-gradient(rgba(15,15,15,0.7), rgba(15,15,15,0.7));
  
  background-size: cover;
  background-position: center;

  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Aqui esta el estilo de las paginas segundarias (Quienes somos) y (Coitiza con nosotros)*/
.contenido {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}





